# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
ENV/

# Django
*.sqlite3
/staticfiles/
local_settings.py

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db
*.log

# Env vars
.env
.env.*